<div class="card" >
    <div class="linea">
        <h2>Experiencia</h2>
        <button type="button" class="btn" [style]="visibilidad" (click)="agregaExperiencia()"><i class="bi bi-plus-square" style="color: black;font-size: 2em;"></i></button>
    </div>
    <hr>
    <ul>
        <li type="none" class="marco" *ngFor="let item of datos">
            <div class="linea">
                <h3>{{item.puesto}}</h3>
                <div class="linea" style="width: max-content;">
                    <button type="button" [style]="visibilidad" class="btn" (click)="editaExperiencia(item.id)"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></button>
                    <button type="button" [style]="visibilidad" class="btn" (click)="borraExperiencia(item.id)"><i class="bi bi-trash" style="color: black;font-size: 2em;"></i></button>
                </div>
            </div>
            <p> <span>{{item.empresa}}</span> -  {{item.jornada}} </p>
            <p> {{item.fingreso}}  al  {{item.fegreso}}  </p>
            <p> {{item.ubicacion}} ({{item.pais}})</p>
            <span><u>Descripción:</u></span>
            <p>{{item.descripcion}}</p>
        </li>
    </ul>

    <!-- Formulario Experiencia -->
    <form [formGroup]="formularioExperiencia" (ngSubmit)="ejecuta()" id="formExperiencia" class="marco" style="display:none;margin: -5px 2% 2%">
        <h3 id="tituloFormExp">Ingreso datos Experiencia</h3>
        <label [style]="ocutalParaEliminar">Nombre de la Empresa</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="empresa">
        <label [style]="ocutalParaEliminar" >Puesto</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="puesto">
        <label [style]="ocutalParaEliminar" >Tipo de jornada</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="jornada">
        <label [style]="ocutalParaEliminar" >Fecha de Ingreso</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="fingreso">
        <label [style]="ocutalParaEliminar" >Fecha de Egreso</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="fegreso">
        <label [style]="ocutalParaEliminar" >Ubicacion Empresa</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="ubicacion">
        <label [style]="ocutalParaEliminar" >Pais de la Empresa</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="pais">
        <label [style]="ocutalParaEliminar" >Descripción</label>
        <input [style]="ocutalParaEliminar" type="text" formControlName="descripcion">
        <label [style]="muestraParaEliminar" id="muestraEliminaExp"></label>
        <button type="submit" id="botonExp" class="btn btn-primary" style="margin-top: 1%;">Boton</button>
    </form>
</div>
