  <!-- Carta Proyectos -->
  <div class="card">
    <div class="linea">
        <h2>Proyectos</h2>
        <a href="javascript:agregaProyecto()"><i class="bi bi-plus-square" style="color: black;font-size: 2em;"></i></a>
    </div>
    <hr>
    <ul id="listadoPryectos">
        <li type="none" class="marco" *ngFor="let item of datos">
            <div class="linea">
                <h3>{{item.nombre}}</h3>
                <div>
                    <a href="javascript:editProyecto()"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></a>
                    <a href="javascript:borraProyecto()"><i class="bi bi-trash" style="color: black;font-size: 2em;"></i></a>
                </div>
            </div>
            <p>{{item.descripcion}}</p>
        </li>
    </ul>
    <!-- Input Proyecto -->
    <div id="inputProyecto" class="marco" style="display:none;margin: -5px 2% 2%">
        <h3>Ingreso datos Proyecto</h3>
        <label for="nombreDelProyecto">Nombre del Proyecto</label>
        <input type="text" id="inputNombreProyecto">
        <label for="descripcionProyecto">Desacripcion</label>
        <input type="text" id="inputDescripcionProyecto">
    </div>
</div>