<!-- Carta presentacion -->
<div class="card" id="presentacion">
    <div>
        <div class="linea">
            <h1 id="nombrePerfil">{{datos.nombre}}</h1>
            <a href="javascript:editPerfil()"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></a>
        </div>
        <hr>
        <div style="margin: -5px 2% 2%">
            <p id="descripcionPerfil">
                {{datos.descripcion}}
            </p>
            <p id="ubicacionPerfil">
                {{datos.ubicacion}}
            </p>
        </div>
    </div>
    <!-- Input Presentacion -->
    <div id="inputPerfil" class="marco" style="display:none;margin: -5px 2% 2%;">
        <h3>Ingreso datos Perfil</h3>
        <label for="nombrePerfil">Nombre</label>
        <input type="text" id="inputNombrePerfil" oninput="escrituraContinua(this.value,'nombrePerfil')">
        <label for="descripcion">Descripción</label>
        <input type="text" id="inputDescripcionPerfil" oninput="escrituraContinua(this.value,'descripcionPerfil')">
        <label for="ubicacion">Ubicacion</label>
        <input  type="text" id="inputUbicacionPerfil" oninput="escrituraContinua(this.value,'ubicacionPerfil')" >
    </div>
    <div class="botones-perfil">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir sección</button>
        <button type="button" class="btn btn-light">Más</button>
    </div>
</div>
