<div class="card">
    <img class="img-logo" src="{{datos.logoURL}}" alt="Argentina Programa #YO PROGRAMO">
    <div id="foto" class="foto">
        <img class="img-foto" src="{{datos.fotoURL}}" alt="Foto Perfil">
    </div>
    <div id="presentacion">
        <div class="linea">
            <h1 id="nombrePerfil">{{datos.nombre}} {{datos.apellido}} </h1>
            <button type="button" class="btn" [style]="visibilidad" (click)="actualiza('formPerfil')"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></button>
        </div>
        <hr>
        <div style="margin: -5px 2% 2%">
            <p id="descripcionPerfil">
                {{datos.tituloNivel}}
            </p>
            <p id="ubicacionPerfil">
                {{datos.recide}}
            </p>
        </div>
    </div>

    <div class="linea">
        <h2>Acerca de</h2>
        <button type="button" class="btn" [style]="visibilidad" (click)="actualiza('formAcerca')"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></button>
    </div>
    <hr>
    <p style="margin: -5px 2% 2%">{{datos.acerca}}</p>


    <!-- Form Perfil -->
    <form [formGroup]="formularioPerfil" (ngSubmit)="confirma('formPerfil')" id="formPerfil" class="marco" style="display:none;margin: -5px 2% 2%;">
        <h3>Ingreso datos Perfil</h3>
        <label>Nombre</label>
        <input type="text" formControlName="nombre">
        <label>Apellido</label>
        <input type="text" formControlName="apellido">
        <label>Titulo Nivel</label>
        <input type="text" formControlName="tituloNivel">
        <label>Fecha Nacimiento</label>
        <input type="text" formControlName="fnacimiento">
        <label>Recide</label>
        <input type="text" formControlName="recide">
        <label>E-mail</label>
        <input type="text" formControlName="email">
        <label>WhatSapp</label>
        <input type="text" formControlName="whatsapp">
        <label>Facebook</label>
        <input type="text" formControlName="facebook">
        <label>Foto URL</label>
        <input type="text" formControlName="fotoURL">
        <label>Logo URL</label>
        <input type="text" formControlName="logoURL">
        <button type="submit" class="btn btn-primary" style="margin-top: 1%;">Actualizar</button>
    </form>

    <form [formGroup]="formularioPerfil" (ngSubmit)="confirma('formAcerca')" id="formAcerca" class="marco" style="display:none;margin: -5px 2% 2%">
        <h3>Editando Acerca</h3>
        <input type="text" formControlName="acerca">
        <button type="submit" class="btn btn-primary" style="margin-top: 1%;">Actualizar</button>
    </form>
    
</div>