.linea{
    display: flex;
    justify-content: space-between;
}

.card{
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 2%;
    opacity: 0.75;
}
.card:hover{
    opacity: 1;
}

.card2{
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 2%;
    text-align: center;
}

hr {
    margin-top: -3px;
    border-bottom: 2px solid #999; 
    border-top: 2px solid #333;
}

label{
    display: block;
    margin: .5em 0 0 0;
}

input{
    width:100%;
}

.marco{
    border-radius: 20px;
    border: 2px solid #9b909050;
    margin: 1%; padding:1%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
