<!-- Carta Educacion -->
<div class="card" id="educacion">
    <div id="NombreDelInstituto">
        <div class="linea">
            <h2>Educación</h2>
            <a href="javascript:agregaEducacion()"><i class="bi bi-plus-square" style="color: black;font-size: 2em;"></i></a>
        </div>
        <ul id="listadoEducacion">
            <li type="none" class="marco" *ngFor="let item of datos">
                <div class="linea">
                    <h3>{{item.instituto}}</h3>
                    <div>
                        <a href="javascript:editEducacion()"><i class="bi bi-pencil" style="color: black;font-size: 2em;"></i></a>
                        <a href="javascript:borraEducacion()"><i class="bi bi-trash" style="color: black;font-size: 2em;"></i></a>
                    </div>
                </div>
                <h5>{{item.titulo}}</h5>
                {{item.fIngreso}} - {{item.fEgreso}}
            </li>
        </ul>
    </div>
    <!-- Input Educacion -->
    <div id="inputEducacion" class="marco" style="display:none;margin: -5px 2% 2%">
        <h3>Ingreso datos Educacion</h3>
        <label for="nombreDelInstituto">Nombre del Instituto</label>
        <input type="text" id="inputNombreInstituto">
        <label for="titulo">Titulo</label>
        <input type="text" id="inputEduTitulo">
        <label for="fechaIngreso">Fecha de Ingreso</label>
        <input type="text" id="inputFechaIngreso">
        <label for="fechaIngreso">Fecha de Egreso</label>
        <input type="text" id="inputFechaEgreso">
        <br>
    </div>
</div>
